{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Zobrazení bannerů</h1>

    {% for banner in banners  %}
        <h2>Banner #{{ banner.id }}</h2>
    {% endfor %}
{% endblock %}
